.column-layout--triple {
  --col-layout-col-gap: 0px;
  --col-layout-row-gap: 0px;
  --col-width-1: 12;
  --col-width-2: 12;
  --col-width-3: 12;
  &[data-widths="25_50_25"] {
    @media (width > 40rem) {
      --col-width-1: 3;
      --col-width-2: 6;
      --col-width-3: 3;
    }
  }
  &[data-widths="33_33_33"] {
    @media (width > 40rem) {
      --col-width-1: 4;
      --col-width-2: 4;
      --col-width-3: 4;
    }
  }
  &[data-widths="25_25_50"] {
    @media (width > 40rem) {
      --col-width-1: 3;
      --col-width-2: 3;
      --col-width-3: 6;
    }
  }
  &[data-widths="50_25_25"] {
    @media (width > 40rem) {
      --col-width-1: 6;
      --col-width-2: 3;
      --col-width-3: 3;
    }
  }
  .col {
    &:nth-of-type(1) {
      grid-column: span var(--col-width-1);
    }
    &:nth-of-type(2) {
      grid-column: span var(--col-width-2);
    }
    &:nth-of-type(3) {
      grid-column: span var(--col-width-3);
    }
  }
}
